/* import specific font for this project */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

#hero {
    height: 615px;
    background-image:linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url("../assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

#hero .hero-content {
    width: 685px;

}

#pre-title{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 21px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 9px;

}

#header{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 14px;
}

#paragraph {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 20px;

}

.btn {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    padding: 14px 20px 14px 20px;
    background: rgb(82, 195, 3);
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: rgb(82, 195, 3);
}

.btn-container{
    text-align: center;
}

#card-box{
    width: 884px;
    margin: 105px auto;
    
}

#card-box .subtitle {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
    margin-bottom: 10px;
    

}

#card-box .title{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 30px;
}

.card{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card .img-box{
    width: 250px;
}

.card .img-box img{
    width: 100%;
}

.card .shop{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    padding: 8px 20px 8px 20px;
}

.card .heading{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 23px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0%;
text-align: center;
}

.card .brief {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;   
    opacity: 0.7;

}

.card-container{
    display: flex;
    justify-content: space-between;
}